<div class="index">
  {{#if session.isAuthenticated}}
    <div class="top-block">
      {{link-to (t 'index.new-question-button') 'questions.new' class="btn btn-success"}}
    </div>
  {{else}}
    {{index/welcome-block}}
  {{/if}}

  {{index/language-filters languageIds=languages addLanguageFilter=(action 'addLanguageFilter')}}

  <div class="question-list">
    {{#each questions as |question|}}
      {{index/question-item question=question}}
    {{/each}}
  </div>

  {{howtosay-pagination model=questions paginate=(action 'paginate')}}
</div>

