<!-- template-lint bare-strings=false -->

<h2 class="body">{{question.text}}</h2>

<div class="info-block">
  <span class="tag">{{question.languageFrom.localizedName}} -> {{question.languageTo.localizedName}}</span>
</div>

<div class="info row">
  {{#if (eq session.currentUser.id question.user.id)}}
    <div class="col-md-6 menu">
      {{link-to (t 'questions.show.question.edit-link') 'questions.edit' question}}
      <a href="#" onclick={{action attrs.deleteQuestion}}>{{t 'questions.show.question.delete-link'}}</a>
    </div>
  {{/if}}

  <div class="col-md-6"></div>
</div>
