<!-- template-lint bare-strings=false -->

<div class="question-body">
  {{link-to question.text 'questions.show' question.id}}
</div>

<div class="info-block">
  <span class="tag">{{question.languageFrom.localizedName}} -> {{question.languageTo.localizedName}}</span>

  <div class="changed-at pull-right">
    <span class="user-name">{{question.user.name}}</span>
    {{inserted_or_updated_at question 'asked' i18n.locale}}
  </div>
</div>

