<div class="questions-show">

  {{questions/show/question-block question=question deleteQuestion=(action 'deleteQuestion')}}

  <h4 class="answers-title">{{t 'questions.show.answers-title' count=filteredAnswers.length}}</h4>

  <div class="answers">
    {{#each filteredAnswers as |answer|}}
      {{questions/show/answer-block answer=answer deleteAnswer=(action 'deleteAnswer')}}
    {{/each}}
  </div>

  <form class="new-question-form" onsubmit={{action 'createAnswer'}}>
    <div class="form-group">
      {{textarea
        value=newAnswer.text
        class="form-control"
        placeholder=(t 'questions.show.new-answer-form.text-placeholder')
        rows="3"}}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        {{t 'questions.show.new-answer-form.submit-button'}}
      </button>
    </div>
  </form>
</div>
