<!-- template-lint bare-strings=false -->
{{nav-bar}}

<div class="container">
  {{#each notifications as |notification|}}
    <div class="alert alert-{{notification.type}}">
      <button class="close" onclick={{action 'removeNotification' notification}}>&times;</button>
      {{notification.message}}
    </div>
  {{/each}}

  {{outlet}}
</div>
